.scrollContainer{
    flex: 1;
    height: 100;
    width: 100%;
}

.container{
    flex: 1;
    width: 100%;
    align-items: center;
}

.img{
    width: auto;
    height: 100%;
    border-radius: 10px; 
}

.containerImg{
    width: 155px;
    height: 205px;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.posterBox{
    flex-direction: row;
}

.infoBox{
    width: 60%;
    flex-grow: 1;
}

.info{
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
}

.icon{
    color: #3c52a6;
}

.infoText{
    margin-left: 10px;
    color: #aeaeaf;
}

.title{
   margin-bottom: 5px;

}

.posterContainer{
    flex: 1;
    width: 95%;
    background: #f7f8fa;
    border-radius: 10px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}