.container{
    flex: 10000;
    overflow: hidden;
}

.band{
    width: 100%;
    height: 2px;
    background-color: #3c52a6;
    position: absolute;
    bottom: 0px;
}

.header{
    // width: 100%;
    margin: 0 10px;
    flex-direction: row;
    height: 45px;
    // background-color: red;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.bar{
    top: -2px;
    height: 2px;
    background: #3c52a6;
    width: 33.30%;
    transition: 0.3s linear;
    // margin-left: 10px;
    // margin-right: 10px;
}
.buttonHeader{
    flex: 1;
    position: relative;
    align-items: center;
    padding: 10px;
}