.scrollContainer{
    // flex: 1;
    height: 100%;
    width: 100%;  
}

.container{
    width: 100%; 
    align-items: center;
}


.boxPoster{
    flex: 1;
    width: 90%;
    height: 100%;
}
.imgContainer{
    padding: 25px;
    align-items: center;
    width: 95%;
    background-color: #e9effc ;
    border-radius: 10px;
}
.img{
    border-radius: 5px; 
}
.textInfoHeader{
    font-size: 14;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info{
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
}

.infoText{
    margin-left: 7px;
    color: #808080;
    line-height: 13px;
    font-size: 11;
}

.icon{
    color: #3c52a6;
}

.textInvitation{
    color: #fff;
    font-weight: 700;
// border: 1px solid;
// position: relative;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
}
.textInvitationText{
    justify-content: center;
    align-items: center;
}

.invitationButton{
    height: 50px;
    background-color: #f7ca27;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.invitationButton2{
    background-color: red;
}
.fontAwesomeIcon{
    color: #fff;
    margin-top: 1px;
    margin-right: 6px;
    align-self: center;
    
    justify-content: center;
}
.invitationButtonNone{
    height: 50px;
    width: 100%;
    background-color: #cccccc;
    align-items: center;
    justify-content: center;
}

.textDescription{
    line-height: 14.4px;
    font-size: 11;
    margin-bottom: 30px;
    color: #555555;
}
.textInfoDescription{
    margin-top: 30px;
    font-size: 14;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}