

.containerScroll{
    flex: 100;
    height: 100%;
    width: 100%;
    // border: 1px solid;
    // align-items: center;
    // justify-content: center;
}

.container{
    background: #4f68c8;
    height: 100%;
    flex: 10000;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box{
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    background: #ffffff;
    width: 90%;
    align-items: center;
}

.button{
    flex-direction: row;
    color: #3c52a6;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    font-size: 0.75;
    // width: ;
}
.img{
    width: 150px;
    max-width: 100%;
    margin: 5px;
    padding: 10px;
    height: 100px;
}
.imgContainer{
    height: 100px;
    margin-bottom: 30px;
}
.buttonReg{
    border: 1px solid #ced4da;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    height: 48px;
    padding-top: 12px;
    justify-content: center;
}
.iconButton{
    margin-right: 10px;
    margin-top: 5px;
}
.iconButtonBlue{
    color: #fff;
}
.restore{
    padding: 15px;
    // border: 1px solid;
}
.buttonBlue{
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin: 12px;
    height: 48px;
    justify-content: center;
    border:1px solid transparent;
    background: #3c52a6;
}
